{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div style="text-align:center; margin-top:50px;">
        <h1>Service : {{ name }}</h1>
    </div>
{% endblock %}
